/* Your styles here */
  * {
    text-align: right;
    direction: rtl;
  }
  
  body { padding-top: 70px; }

  .dish {
     margin: 20px auto;
     height: 200px;
     width: 200px;
  }
  .dish_details {
    float: right;
    margin-right: 20px;
    text-align: right;
  }
  .dish_image {
    width: 200px;
    float: right;
  }
  .search_dish_image {
    width: 40px;
    height: 20px;
  }

  .rest_box {
    margin: 10px;
    width: 25%;
    float: right;
  }

  .rest_box .img-thumbnail {
    height: 75px !important;
    margin-left: 10px;
  }

  .rest-dish {
  }

  .rest-dish .title-desc {
  }

  .rest-dish .price {
    text-align: center;
    vertical-align: center;
    margin: auto;
    font-size: 1.7em;
    width: 10%;
  }

  .rest-dish .fav {
    text-align: center;
    vertical-align: center;
    font-size: 1.7em;
    width: 10%;
  }

  .rest-dish .heart {
    color: red;
  }